body{
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;
	background-image: url("../img/fundopart.jpg");
    background-repeat: no-repeat;
    background-size: cover;

   
}
#container{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 45%;
	flex-direction: row;
}
#botaoTruco,#botaoEnvido,#botaoFlor{
		width: 20vw;

}

#container{
	position:absolute; 
    top:70%;
    left:15%;
	transform: translate(-200%, 450%);
	font-size: larger;
	size: 10px;
}

#botãoenvia{
	position:absolute; 
    top:70%;
    left:15%;
	transform: translate(-150%, 430%);
	font-size: larger;
}

#botoes1{
	position:absolute; 
    top:70%;
    left:15%;
	transform: translate(-120%, 550%);
	font-size: larger;
}

select{
	size: 200%;
}

button{
	background-color: lightgray;
	background-size: cover;
}

button:hover{
	zoom: 100%;
	left: auto;
	border: 3px solid green;
	font-style: green;
	background-color: lightgreen;
}

#baralho img{
	width: 280px;
	box-shadow: black solid 20px;
	left:100%;
	transform: translate(380%,80%);
}

#botoes2{
	position:absolute; 
    top:70%;
    left:50%;
	transform: translate(380%,80%);
	font-size: larger;
	size: 10px;
}

.progress{
	margin-top: auto;
	width: 150px;
	height: 20px;
	background-color: #777;
	position: absolute;
	margin-right: 50px;
	transform: translate(10%,-1100%);

}

.progress .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #add555;
   animation: progress-animation 6s infinite;
}


@keyframes progress-animation{
	0% { width: 0%; }
    
	50% { width: 50%}

	100% { width: 100%}

    

}

